# Logs
*.log

# Temporary files
*.tmp
*.swp

# Node.js dependencies
node_modules/

# CSS preprocessor directories
.sass-cache/

# macOS system files
.DS_Store

# Backup files
*.bak
*.old
*.orig
*.save

# Windows system files
Thumbs.db
Desktop.ini

# iOS specific files
*.ipa

# Android specific files
*.apk
*.xapk
*.dex
*.ap_

# Windows executables
*.exe
*.dll

